
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: violet;
    color: white;
    text-align: center;
 }
.boton{
    background-color: green;
    border-radius: 10px;
    color: white;
    font-size: x-large;
}
.divform label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    color: brown;
}
.divtitulo{
    background-color: blueviolet;
    color: yellowgreen;
    font-weight: bold;
    width: 90%;
    margin: 5px;
    padding: 10px;
    text-align: center;
}
.divform{
    border: 1px solid violet;
    width: 30%;
    margin-left: 25%;
    margin-top: 2%;
    padding: 10px;
    text-align: center;
}
.portada{
    position: relative;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 3%;
}
.enunciado{
    border: 1px solid red;
    width: 80%;
    margin-left: 10%;
    padding: 5px;
    text-align: justify;
}